<div class="local-forecast__location">

    <app-type-ahead #typeahead (city)="handleCity($event)"></app-type-ahead>

    <p class="local-forecast__spacer">or</p>

    <div class="local-forecast__geo-location">
        <button (click)="loadGeoLocation()" nbButton size="small" [nbSpinner]="loadingLocation"
            [disabled]="loadingLocation">
            <nb-icon icon="pin" status="warning"></nb-icon>
            Get Current Location
        </button>
    </div>
</div>

<main class="local-forecast__forecasts">
    <h1 *ngIf="forecast as f">Seven Day Forecast <span>for {{ f.city.name }}, {{f.city.country}}</span></h1>

    <p *ngIf="loading" [nbSpinner]="loading" nbSpinnerStatus="info">Loading Weather Forecasts</p>

    <div *ngIf="forecast as f" class="columns">

        <div *ngFor="let day of f.list" class="column">

            <h3>{{ day.dt * 1000 | date: 'MMM d'  }}</h3>
            <i [class]="weatherIcon(day.weather[0].icon)"></i>
            <h4><span>{{ day.temp.min | number:'1.0-0' }}°</span>&nbsp;
                <span>{{ day.temp.max|number:'1.0-0' }}°</span></h4>
            <p>{{ day.weather[0].main }}</p>
            <p>{{ day.weather[0].description }}</p>

        </div>
    </div>
</main>